h3 {
  position: absolute;
  top: 0;
  color: white;
  left: 844px;
  font-size: 3em;
  margin-top: 20px;
  z-index: 1000;
}
.contactus-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-image: url(./Images/talal-tiled-background.svg);
  background-color: #7A2A3C;

  .moving-arrow {
    width: 150px;
    margin-left: 2vw;
    a {
      text-decoration: none;
      color: white;
      font-size: 3em;
      font-weight: bolder;
    }
  }

  #text {
    color: white;
    display: inline-block;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 95px;
    margin-top: 28px;
    text-decoration: none;
  }

  .contactForm {
    margin:0 auto;
    .text {
    p{
      text-align: center;
      font-size: 1.5em;
      color:white;
      @media screen and (min-width:768px){
        font-size: 1.5em;
      }

      @include mobile {
        font-size: 1.1em;
      }
    }
        #first {
          margin-bottom: 0;
        }

        #second {
          margin-top: 0.4em;
        }
  }

    @media screen and (max-width:1024px) {
    padding-top: 5em;
    }
}

  .main-form {
      display: flex;
      margin:0 auto;
    .main-form-container {
      margin: 0 auto;
      form {
        text-align: center;
      }

      .one-row {
        display: flex;
        flex-flow: row wrap;
        height: 4em;

        @include mobile {
          display: inline;
        }

        .one-half {
          flex: 1;
        }
        .first{
          margin-right: 10px;
          @include mobile {
            margin-right: 0;
          }
        }

        input{
          background-color: black;
          color: white;
          border-color: white;
          // border-width: .15vw;
          padding: 1vw;
          outline: none;
        }
      }
      textarea{
        background-color: black;
        color: white;
        border-color: white;
        // border-width: .15vw;
        width: 100%;
        outline: none;
      }
      .wpcf7-submit {
        cursor: pointer;
        background-color: black;
        color: white;
        font-size: 1.3rem;
        font-family: $font-primary;
        padding: 1vw;
        border-color: white;
        // border-width: .15vw;
        @media screen and (max-width: 600px){
          width: 27vw;
          border-radius: 30px;
        }
      }
    }
  }
}

#wpcf7-f5-o1 > form > div.text-area {
  padding-top: 2.8em;
}

#wpcf7-f5-o1 > form > div.one-row {
  padding-top: 1em;
}

@include mobile {
#wpcf7-f5-o1 > form > div.one-row > div:nth-child(2) {
  padding-top: 0.8em;
}
#wpcf7-f5-o1 > form > div.text-area {
  width: 238px;
  margin:0 auto;
  text-align: center;
  padding-top: 0px;
}
}

@media screen and (max-height: 411px) {
    body > div.contactus-container > div.contactForm {
    padding-top: 0px;
  }
  #wpcf7-f5-o1 > form > div.one-row {
    padding-top: 0px;
  }
  #wpcf7-f5-o1 > form > div.text-area {
    padding-top: 0px;
  }
  #wpcf7-f5-o1 > form > div.text-area > span > textarea {
    height: 138px;
  }
}

@media screen and (max-height: 320px) {
  #wpcf7-f5-o1 > form > div.text-area > span > textarea {
    height: 88px;
  }
}
