.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  #myVideo {
    @include position(absolute, $top: 0, $left: 0);
    z-index: -100;
    width: 100vw;
    height: 100vh;
    // max-height: 100%;
    video {
    width: 100vw;
      @media screen and (max-width: 1025px) {
        width: auto;
        height: 100%;
      }
    }
  }

   .container-content {
     .talal {
       a {
         svg {
            fill: white;
            background: black;
            width: 400px;
            height: 150px;
            transform: skewX(-10deg);
         }
       }

       svg:hover {
         fill: black;
         background-color: white;
         transform: skewX(10deg);
       }

      svg:active {
        fill: #7A2A3C;
        background-color: white;
      }
    }
     .para {
       padding-top: 2em;
       text-align: center;
       font-style: italic;
       a {
         font-family: 'Exo 2', sans-serif;
         color: white;
         font-size: 2.5em;
         text-decoration: none;
         display: block;
         padding: 0.4em;
       }
       a:hover {
        color: black;
        background-color: white;
        transform: skewX(10deg);
      }

      a:active {
          color: #7A2A3C;
          background-color: white;
          transform: skewX(10deg);

      }
     }
   }
 }

 body {
   position: relative;
 }
